@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  padding: 32px 0 0;
}

.heading {
  font-family: "Playfair Display", sans-serif;
}

/* styling header section */
header > h1 {
  padding: 5px 20px 0;
  font-size: 24px;
}
.wrapper {
  margin: 20px 20px 0;
  max-width: 529px;
  display: flex;
  column-gap: 12px;
  font-size: 12px;
  font-weight: 500;
}
.wrapper img {
  padding-top: 5px;
  align-self: flex-start;
}
.cake {
  margin-top: 20px;
  padding: 0 20px;
  width: 100%;
}

/* styling aside content */
aside {
  padding: 0 20px;
  max-width: 528px;
}
.orange {
  color: orange;
}
.box {
  margin-top: 25px;
  width: 111px;
  height: 26px;
  display: flex;
  column-gap: 5px;
  flex-wrap: wrap;
  align-content: center;
}
.material-symbol-outlined {
  height: 17px;
  width: 17px;
}
.info h3 {
  font-size: 8px;
  color: #bdbdbd;
}
.info span {
  font-size: 10px;
}
.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* styling main content of the body */
.main {
  margin: 30px 20px 0;
  max-width: 528px;
}
.main > h1 {
  font-size: 18px;
}
ul,
h2,
li {
  margin-top: 12px;
}
li > ul {
  margin-left: 20px;
  list-style-type: none;
}
#ingredients {
  list-style-type: none;
}
ul > li > h2 {
  font-size: 16px;
  font-style: italic;
}
li {
  line-height: 25px;
}

/* style for instruction section */
#instruction {
  margin-top: 20px;
}
ol {
  margin-left: 30px;
}
ol > li {
  margin-top: 26px;
}
p {
  margin-top: 26px;
  color: #bdbdbd;
}
p > a {
  text-decoration: none;
  color: #bdbdbd;
}

/* Style for large screend window */
@media screen and (min-width: 980px) {
}

/* styling footer */
.footer {
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 5px 0;
  width: 100%;
  font-weight: 500;
  text-align: center;
  color: #a9a9a9;
}
#creator {
  text-decoration: none;
  font-weight: 700;
  color: #a9a9a9;
}
#devIo {
  text-decoration: none;
  font-weight: 600;
  color: #a9a9a9;
}
#creator:hover,
#devIo:hover {
  cursor: pointer;
}
