@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  padding: 32px 0 0;
}

.heading {
  font-family: "Playfair Display", sans-serif;
}

/* styling header section */
header > h1 {
  padding: 5px 15px 0;
  font-size: 24px;
}
.wrapper {
  margin: 20px 15px 0;
  max-width: 529px;
  display: flex;
  column-gap: 12px;
  font-size: 12px;
  font-weight: 500;
}
.wrapper img {
  padding-top: 5px;
  align-self: flex-start;
}
.cake {
  margin-top: 20px;
  padding: 0 15px;
  width: 100%;
}

/* styling aside content */
aside {
  padding: 0 15px;
  max-width: 528px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.orange {
  color: orange;
}
.serve {
  grid-column: 1/4;
}
.box {
  margin-top: 25px;
  width: 111px;
  height: 26px;
  display: flex;
  column-gap: 5px;
  flex-wrap: wrap;
  align-content: center;
}
.material-symbol-outlined {
  height: 17px;
  width: 17px;
}
.info h3 {
  font-size: 8px;
  color: #bdbdbd;
}
.info span {
  font-size: 10px;
}

/* styling main content of the body */
.main {
  margin: 35px 15px 0;
  max-width: 528px;
}
.main > h1 {
  font-size: 18px;
}
ul,
h2,
li {
  margin-top: 12px;
}
li > ul {
  margin-left: 24px;
  list-style-type: none;
}
#ingredients {
  list-style-type: none;
}
ul > li > h2 {
  font-size: 16px;
  font-style: italic;
}
li {
  line-height: 25px;
}
.square-list::marker {
  content: "\25fd";
  font-size: 28px;
  color: #828282;
}

/* style for instruction section */
#instruction {
  margin-top: 20px;
}
ol {
  list-style-type: none;
}
ol > li {
  margin-top: 26px;
  display: flex;
  column-gap: 15px;
}
li > p {
  font-size: 16px;
}
.marker::before {
  counter-increment: list-item;
  content: counter(list-item);
  width: 36px;
  height: 36px;
  border-radius: 6px;
  font-family: "Playfair-Display";
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  background-color: #f2994a;
  float: left;
}

/* style for source section */
ol + p {
  margin-top: 26px;
  color: #bdbdbd;
  font-style: italic;
  font-size: 12px;
}
p > a {
  text-decoration: none;
  color: #bdbdbd;
}

/* Style for large screend window */
@media screen and (min-width: 990px) {
  .middle {
    margin: 0 auto;
    max-width: 980px;
  }
  .big-screen {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  aside {
    width: 216px;
    height: 367px;
    grid-template-columns: 1fr;
    align-content: space-evenly;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
  .serve {
    grid-column: 1;
  }
  .box {
    margin: 0;
    width: 122px;
    justify-self: center;
  }
  ol + p {
    font-size: 16px;
  }
}

/* styling footer */
.footer {
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 5px 0;
  width: 100%;
  font-weight: 500;
  text-align: center;
  color: #a9a9a9;
}
#creator {
  text-decoration: none;
  font-weight: 700;
  color: #a9a9a9;
}
#devIo {
  text-decoration: none;
  font-weight: 600;
  color: #a9a9a9;
}
#creator:hover,
#devIo:hover {
  cursor: pointer;
}
